<mat-toolbar color="primary">
  <span style="margin: 3px 0 0 50px; color: black"
    >Employee Mangement Application
  </span>
  <span class="example-spacer"></span>
  <span>
    <button mat-button style="margin: 1rem">
      Github Frontend Code <mat-icon>code</mat-icon>
    </button>
  </span>

  <span>
    <button mat-button style="margin: 1rem">
      Github Backend Code<mat-icon>code</mat-icon>
    </button>
  </span>
  <span>
    <button mat-button style="margin: 1rem; color: black">
      Login <mat-icon>login</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="side"
    opened="true"
    disableClose="true"
  >
    <br />
    <br />
    <br />

    <mat-nav-list>
      <mat-list-item (click)="showFiller = !showFiller">
        <a *ngIf="!showFiller"> <mat-icon>arrow_forward_ios</mat-icon></a>
        <a *ngIf="showFiller" style="margin-left: 3rem"
          ><mat-icon>arrow_back_ios</mat-icon></a
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        [ngClass]="{ singleClass: !showDetailsComponent }"
        (click)="selectHome()"
      >
        <mat-icon matListIcon>list</mat-icon>
        <a *ngIf="showFiller" matLine>Employee List</a>
      </mat-list-item>
      <mat-list-item
        [ngClass]="{ singleClass: showDetailsComponent }"
        (click)="selectDetails()"
      >
        <mat-icon matListIcon> manage_accounts</mat-icon>
        <a matLine *ngIf="showFiller">Manage</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div>
    <br />
    <br />
    <br />

    <div
      *ngIf="!showDetailsComponent"
      style="background-color: #068d9d; padding: 2rem"
    >
      <div style="width: 100%; height: 6rem" fxLayout="row">
        <p style="font-size: medium; padding: 2rem">Employee List</p>

        <mat-form-field style="margin: 1rem">
          <mat-label>Page Size: {{ pageSize }}</mat-label>
          <input matInput type="number" [(ngModel)]="pageSize" />
        </mat-form-field>

        <button
          mat-button
          style="height: 2rem; margin-left: 2rem; margin-top: 2rem"
          *ngIf="pageSize != ''"
        >
          Change Page Size <mat-icon>line_weight</mat-icon>
        </button>

        <button
          mat-raised-button
          [matMenuTriggerFor]="menu"
          style="height: 3rem; margin-left: 10%; margin-top: 2rem"
        >
          Filter Using <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="selectSearchValue(1)">
            Department
          </button>
          <button mat-menu-item (click)="selectSearchValue(2)">Position</button>
        </mat-menu>

        <mat-form-field style="margin: 1rem; width: 30%">
          <mat-label
            >Search for the
            {{ searchSelect == 1 ? "Department" : "Position" }}</mat-label
          >
          <input matInput [(ngModel)]="searchFilter" />
        </mat-form-field>

        <button
          mat-button
          style="height: 2rem; margin-left: 2rem; margin-top: 2rem"
          *ngIf="searchFilter != ''"
        >
          Search <mat-icon>search</mat-icon>
        </button>
      </div>
      <br />

      <mat-grid-list cols="3" rowHeight="3:2">
        <mat-grid-tile *ngFor="let employee of employees">
          <mat-card class="mat-elevation-z3" style="margin: 1rem; width: 100%">
            <mat-card-header>
              <mat-card-title>
                {{ employee.first_name }} {{ employee.last_name }}
              </mat-card-title>
              <mat-card-subtitle style="font-size: medium;">{{ employee.position }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content fxLayout="row" style="margin-left: 1rem">
              <div style="width: 60%">
                <p>{{ employee.contact_number }}</p>
                <p>{{ employee.email_address }}</p>
                <p>{{ employee.department }}</p>
                <p>{{ employee.salary }}</p>
                <mat-card-actions fxLayout="row">
                  <button
                    mat-stroked-button
                    style="background-color: black; color: white"
                    (click)="openDialog(employee.id)"
                  >
                    Delete
                  </button>
                  <button
                    mat-raised-button
                    style="margin-left: 2rem; background-color: #068d9d"
                    (click)="edit(employee)"
                  >
                    Edit
                  </button>
                </mat-card-actions>
              </div>
              <div style="width: 40%">
                <img src="{{ employee.takenImage }}" height="150" width="150" />
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div style="background-color: #068d9d">
      <button
        mat-button
        *ngIf="showDetailsComponent"
        style="margin: 2rem"
        (click)="showDetailsComponent = false"
      >
        <mat-icon>arrow_back</mat-icon> Back To List
      </button>
      <app-employee-details
        *ngIf="showDetailsComponent"
        [employeeClick]="selectedEmplooyee"
        (employeeAddedEvent)="getNewData()"
      ></app-employee-details>
    </div>
  </div>
</mat-drawer-container>
