<mat-toolbar color="primary">
  <span style="margin: 3px 0 0 50px; color:white"
    >Employee Mangement Application
  </span>
  <span class="example-spacer"></span>
  <span>
    <button mat-button style="margin: 1rem">
      Github Frontend Code <mat-icon>code</mat-icon>
    </button>
  </span>

  <span>
    <button mat-button style="margin: 1rem">
      Github Backend Code<mat-icon>code</mat-icon>
    </button>
  </span>
  <span>
    <button mat-button style="margin: 1rem; color: black">
      Login <mat-icon>login</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="side"
    opened="true"
    disableClose="true"
  >
    <br />
    <br />
    <br />

    <mat-nav-list>
      <mat-list-item (click)="showFiller = !showFiller">
        <a *ngIf="!showFiller"> <mat-icon>arrow_forward_ios</mat-icon></a>
        <a *ngIf="showFiller" style="margin-left: 3rem"
          ><mat-icon>arrow_back_ios</mat-icon></a
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        [ngClass]="{ singleClass: !showDetailsComponent }"
        (click)="selectHome()"
      >
        <mat-icon matListIcon>list</mat-icon>
        <a *ngIf="showFiller" matLine>Employee List</a>
      </mat-list-item>
      <mat-list-item
        [ngClass]="{ singleClass: showDetailsComponent }"
        (click)="selectDetails()"
      >
        <mat-icon matListIcon> manage_accounts</mat-icon>
        <a matLine *ngIf="showFiller">Manage</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div>
    <br />
    <br />
    <br />

    <div
      *ngIf="!showDetailsComponent"
      style="background-color: #edf6f9; padding: 2rem"
    >
      <div style="width: 100%; height: 6rem" fxLayout="row">
        <p style="font-size: medium; padding: 2rem">Employee List</p>

        <mat-form-field style="margin: 1rem">
          <mat-label>Page Size: {{ pageSize }}</mat-label>
          <input matInput type="number" [(ngModel)]="pageSize" (keyup)="pageSizechange()" />
          <mat-hint *ngIf="pageSize  <= 0"> <mat-icon>error_outline</mat-icon> Page size can't be less than 1 </mat-hint>
        </mat-form-field>

      

        <button
          mat-raised-button
          [matMenuTriggerFor]="menu"
          style="height: 3rem; margin-left: 10%; margin-top: 2rem"
        >
          Filter Using <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="selectSearchValue(1)">
            Department
          </button>
          <button mat-menu-item (click)="selectSearchValue(2)">Position</button>
        </mat-menu>

        <mat-form-field style="margin: 1rem; width: 30%">
          <mat-label
            >Search for the
            {{ searchSelect == 1 ? "Department" : "Position" }}</mat-label
          >
          <input matInput [(ngModel)]= "searchFilter" (keyup)="startDPSearch()" />
        </mat-form-field>

        
      </div>
      <br />

      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>

      <mat-grid-list cols="3" rowHeight="3:2">
        <mat-grid-tile *ngFor="let employee of employees">

          <mat-card
          class="mat-elevation-z3" style="margin: 1rem; width: 100%"
        
          *ngIf="
            toDeleteemployee==employee
          "
          style=" color: white; height: 16rem; background-color:#068d9d"
        >
          <mat-card-content fxLayout="row">
            <mat-card-header>
              <mat-card-title>
                {{messagesFromDeletion}}
              </mat-card-title>
            </mat-card-header>
           
           
          </mat-card-content>
          <mat-card-actions>
             <button mat-raised-button (click)="deleteEmployee()" style="margin:2rem;">
              <mat-icon>delete</mat-icon> Delete
            </button>
           
          </mat-card-actions>
        </mat-card>

          <mat-card class="mat-elevation-z3" style="margin: 1rem; width: 100%" *ngIf="toDeleteemployee!=employee" >
            <mat-card-header>
              <mat-card-title>
                {{ employee.first_name }} {{ employee.last_name }}
              </mat-card-title>
              <mat-card-subtitle style="font-size: medium">{{
                employee.position
              }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content fxLayout="row" style="margin-left: 1rem">
              <div style="width: 60%">
                <p>{{ employee.contact_number }}</p>
                <p>{{ employee.email_address }}</p>
                <p>{{ employee.department }}</p>
                <p>{{ employee.salary }}</p>
                <mat-card-actions fxLayout="row">
                  <button
                    mat-stroked-button
                    style="background-color:#068d9d; color: black;"
                    (click)="delete(employee)"
                  >
                    Delete
                  </button>
                  <button
                    mat-raised-button
                    style="margin-left: 2rem; background-color: #edf6f9"
                    (click)="edit(employee)"
                  >
                    Edit
                  </button>
                </mat-card-actions>
              </div>
              <div style="width: 40%; ">
                <img src="{{ employee.takenImage }}" height="150" width="150" />
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-card
        class="drawOver"
        *ngIf="
          !(messagesFromRegistration == null || messagesFromRegistration == '')
        "
        style="width: 30%; height: 2rem; color: white; background-color:#068d9d"
      >
        <mat-card-content fxLayout="row">
          <p style="width: 80%">{{ messagesFromRegistration }}</p>
          <button mat-button (click)="messagesFromRegistration = null">
            <mat-icon>close</mat-icon> Close
          </button>
        </mat-card-content>
      </mat-card>

     
    </div>
    <div >
      
      <app-employee-details
        *ngIf="showDetailsComponent"
        [employeeClick]="selectedEmplooyee"
        (employeeAddedEvent)="getNewData()"
      ></app-employee-details>
    </div>
  </div>
</mat-drawer-container>
